<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>선문대학교 셔틀버스</title>
</head>
  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">선문대학교 셔틀</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#summervacation">여름방학 시간표</a>
            </li>
             <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#weekday">1학기 평일 시간표</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#weekend">1학기 주말 시간표</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#schoolbus">2학 통학버스 시간표</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead bg-primary text-black text-center">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="img/logo.png" alt="">
        <h1 class="text-uppercase mb-0">선문대학교 셔틀</h1>
        <hr class="star-light md-5">
        <h2 class="font-weight-dark mb-0">제작자 : 컴퓨터 공학부 컴퓨터공학 전공 김성민<br>기타 문의 (카카오톡 플러스 친구) : 선문대 셔틀</h2>
      </div>
    </header>

    
   <!-- 방학 시간표 -->
   <center>
    <section class="portfolio" id="summervacation">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">여름 방학 시간표</h2>
        <hr class="star-dark mb-5">
        <div class="center">
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/timetable/summervacation.png" alt="">
              <body oncontextmenu='return false' onselectstart='return false' ondragstart='return false' style="-webkit-touch-callout:none" >
            </a>
          </div>
          <hr color = "blue" size = "100">
          </hr>
    </section>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 구글 애드센스 -->
    <ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-3650765722309268"
    data-ad-slot="5538060776"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
    <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
    </script>


    
    <!-- 평일 시간표 -->
    <section class="portfolio" id="weekday">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">1학기 평일 시간표</h2>
        <hr class="star-dark mb-5">
        <div class="center">
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/timetable/weekday.png" alt="">
              <body oncontextmenu='return false' onselectstart='return false' ondragstart='return false' style="-webkit-touch-callout:none">
            </a>
          </div>
           <hr color = "blue" size = "100">
          </hr>
    </section>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 구글 애드센스 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-3650765722309268"
        data-ad-slot="5538060776"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

    <!-- 주말 시간표 -->
    <section class="portfolio" id="weekend">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">1학기 주말 시간표</h2>
        <hr class="star-dark mb-5">
        <div class="center">
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/timetable/weekend.png" alt="">
              <body oncontextmenu='return false' onselectstart='return false' ondragstart='return false' style="-webkit-touch-callout:none">
            </a>
          </div>
           <hr color = "blue" size = "100">
          </hr>
    </section>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- 구글 애드센스 -->
      <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-3650765722309268"
      data-ad-slot="5538060776"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
      <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
      </script>


    <!-- 통학버스 시간표 -->
    <section class="portfolio" id="schoolbus">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">통학버스 시간표</h2>
        <hr class="star-dark mb-5">
        <div class="center">
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/timetable/schoolbus.png" alt="">
              <body oncontextmenu='return false' onselectstart='return false' ondragstart='return false' style="-webkit-touch-callout:none">
            </a>
          </div>      
    </section>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- 구글 애드센스 -->
      <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-3650765722309268"
      data-ad-slot="5538060776"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
      <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
</center>


<!-- 구글 애널리틱 -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-131334398-1', 'auto');
  ga('send', 'pageview');
  </script>
  

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">만든사람</h4>
            <p class="lead mb-0">선문대학교<br>컴퓨터 공학부<br>컴퓨터공학 전공
              <br>김성민</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">웹사이트</h4>
            <ul class="list-inline mb-0">
              <!-- 페이스북-->
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/kimsungmin.dev">
                  <i class="fab fa-fw fa-facebook-f"></i>
                </a>
              </li>
              <!-- 카카오톡 플러스 친구 -->
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="http://pf.kakao.com/_TxixgxcC">
                  <i class="fab fa-fw fa-kaggle"></i>
                </a>
              </li>
              <!-- 개인 블로그 -->
               <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://sungmin.dev">
                  <i class="fab fa-fw fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">문의</h4>
            <p class="lead mb-0">Kakao Talk <br>선문대 셔틀<br>(플러스 친구)
            </p>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; 2018 Kakaotalk Plus Friend SunMoon University Shuttle Bus</small>
      </div>
    </div>
    </body>
</html>
